<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/style/style.css' %}">
    <link rel="stylesheet" href="{% static 'blog/style/style.css' %}">
</head>
<body>
    <header class="header">
        <div class="wrapper header-wrapper">
            <div class="logo">
            <img src="" alt="">
        </div>
        <nav>
            <a href="{% url 'home' %}" class="link">Главная</a>
            <a href="{% url 'blog' %}" class="link" class="link">Блог</a>
            <a href="#" class="link">Портфолио</a>
        </nav>
        <div class="header-right">
            {% if request.user.username %}
<a href="{% url 'logoutuser' %}" class="link link-primary">Выход</a>
            {% else %}

            <!-- Добавить код для проекта на авторизацию-->
            <a href="{% url 'regUser' %}" class="link">Регистрация</a>
            <a href="{% url 'loginuser' %}" class="link link-primary">Вход</a>
            <!-- Добавить код, если пользователь авторизировался-->
            {% endif %}
        </div>
    </div>
    </header>
{% block content %}
{% endblock %}
</body>
</html>
